{
  "printWidth": 120,
  "singleQuote": true,
  "quoteProps": "preserve",
  "trailingComma": "es5",
  "tabWidth": 2,
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "strict",
  "arrowParens": "always"
}
